.wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.imgContainer{
    justify-content: center;
}

.cardProduct{
    display: flex;
    width: 318px;
    flex-direction: column;
}
/* ======== PagePromotion ========= */
.sale{
    font-size: 40px;
    font-weight: 700;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-left: 12%;
}
.sorting{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
/* ============ end PagePromotion ================= */

.image{
    display: flex;
    width: 319px;
    height: 276px;position: relative;
    justify-content: center;
    transition: transform 0.5s ease;
}
.image:hover{
    transform: scale(1.1);
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(4, 81, 4, 0.6);
}

.btn{
    position: absolute;
    bottom: 20px;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #339933;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(15, 104, 15);
    transform: scale(0.9);
}
.image:hover .btn {
    opacity: 1; 
  }
.price{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: flex-end;
}
.priceDiscount{
    font-size: 30px;
    font-weight: 600;
}
.priceProduct{
    font-size: 20px;
    font-weight: 500;
    color: #8B8B8B;
    text-decoration: line-through;
}
.pricePercent{
    font-size: 20px;
    font-weight: 600;
    color: #FF32A1;
}
.link{
    text-align: center;
    margin-top: 10px;
}
.title{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
    text-decoration: none;
}
@media(max-width: 1024px){
    .sorting{
        flex-direction: column;
    }
    
}