.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

.price{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 20px;
}

.card{
    width: 318px;
    padding: 20px;
}

.h1{
    margin: 5% 0;
    margin-left: 10%;
}
.span{
    font-size: 26px;
}
.image{
    display: flex;
    width: 319px;
    height: 276px;position: relative;
    justify-content: center;
    transition: transform 1s ease;
   
}

.image:hover{
    transform: scale(1.1);   
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(4, 81, 4, 0.6);
}

.btn{
    position: absolute;
    bottom: 20px;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #339933;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(15, 104, 15);
    transform: scale(0.9);
}
.image:hover .btn {
    opacity: 1; 
  }
.link{
    text-align: center;
    margin-top: 10px;
}
.title{
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 20px;
}

.noPrice{
    font-size: 20px;
    color: #8B8B8B;
    text-decoration: line-through;
}
.price{
    font-size: 24px;
    font-weight: 600;
}

.discount{
    font-size: 20px;
    font-weight: 600;
    color: #FF32A1;
}
@media (max-width:360px){
    .image{
        width: 80%;
        height: 60%;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .noPrice, .priceProduct, .discount {
        font-size: 16px;
    }
    .title{
        font-size: 14px;
        text-align: center;
    }
    
}
@media (max-width:172px){
.price{
        display: flex;
        flex-direction: column;
    } 
}