.wrapper{
    width: 92%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.image{
    width: 50%;
    margin-left: 40px;
    box-shadow: 2px 4px 5px rgba(4, 81, 4, 0.6);
    cursor: pointer;
}

.image.big{
    width: 100%;
}

.title{
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 130px;
}
.btn{
    width: 80%;
    height: 20%;
    background-color: #339933;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 18px;
    padding: 25px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(0.95);
    background-color: green;
}
.container_text{
    width: 30%;

}
.line{
    border: 1px dashed #C0C0C0;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 25px;
}

.price_container{
    width: 97%;
    margin-bottom: 40px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.price{
    font-size: 36px;
    font-weight: 600;
}

.valuts{
    font-size: 16px;
}

.noPrice{
    color: #8B8B8B;
    font-size: 18px;
    text-decoration: line-through;
}
.discount{
    color:#FF32A1;
    font-size: 28px;
    font-weight: 600;
}
.description{
    margin-top: 5%;
}

@media(max-width: 875px){
    .title{
        margin-top: 70px;
    }
    
}
@media(max-width: 670px){
    .wrapper{
        flex-direction: column;
    }
    .container_text{
        margin-top: 5%;
        width: 70%;
    }
    .image{
        margin-left: 0;
        
    }
    
    .title{
        text-align: center;
        margin-left: 0;
        margin-top: 30px;
    }
    
}
@media(max-width: 320px){
    .description{
        font-size: 14px;
    }
}
