.wrapper{
    background-color: #A1E2EB;
    max-height: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.wrapper h1{
    color: white;
    font-size: 80px;
    font-weight: 700;
}
.wrapper h2{
    color: white;
    font-size: 63px;
    font-weight: 700;
}

.wrapper button{
    background-color: white;
    width: 155px;
    height: 82px;
    border-radius: 13px;
    padding: 25px 50px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    color: #2D2D2D;
    margin-bottom: 139px;
    margin-top: 60px;
}
.text{
    margin-top: 130px;
    margin-left: 50px;
}
.img{
    margin-top: -60px;
}
.img img{
    max-width: 900px;  
}