.container{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    margin-top: 7%;
    padding: 2%;
}
.socMedia{
    display: flex;
    gap: 50px;
    margin-top: 7%;
    margin-left: 10px;
}

.adress a{
    font-size: 40px;
    font-weight: 600;
    color: black;
}
.p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
.h4{
    font-size: 24px;
    font-weight: 600;
    margin-top: 2px;
}
.h1{
    font-size: 70px;
}
.text{
    margin-top: 10%;
}
.map{
   margin-top: 40px;
    width: 100%;
}

.h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10%;
}
.icon, .adress{
    transition: transform 0.5s ease;
}
.icon:hover, .adress:hover{
    transform: scale(0.9);
}
.icon img{
    width: 44px;
    margin-left: 25%;
}

.icon a{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

@media (max-width: 1200px){
    .h1{
        font-size: 50px;
    }
    .adress a{
        font-size:30px ;
    }
}
@media (max-width: 940px){
    .h1{
        font-size: 30px;
    }
    .adress a{
        font-size:20px ;
    }
}
@media (max-width: 590px){
    .container{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .h2{
        font-size: 34px;
        margin-left: 20%;
    }
    
    .h1{
        font-size: 26px;
    }
    .socMedia{
        gap: 15px;
    }
}
@media (max-width: 250px){
    .h1{
        font-size: 18px;
        margin-left: 10%;
    }
    .h2{
        font-size: 24px;
        
    }
    .adress a{
        font-size: 16px;
        margin-left: 5%;
    }
    .icon a{
        font-size: 14px;
    }
    .h4{
        font-size: 20px;
    }
}