.wrapper{
    display: flex;
    justify-content: space-between;
}
/* ================ */
.logo{
    width: 70px;
    display: flex;
    padding: 20px;
    gap: 30px;
    align-items: center;
}
.btn{
    background-color: green;
    width: 125px;
    height: 50px;
    border-radius: 5px;
    border: none;
}
.btn:hover {
    background-color: darkgreen; 
    cursor: pointer;
}

.btn a{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 14px 30px 15px;
    cursor: pointer;
}

/* ============ navigate menu base ============== */

.nav{
    display: flex;
    gap: 40px;
    padding: 30px;
    align-items: flex-end;
    /* margin-top: 5%; */
}
.nav img {
    width: 30px;  
}
.nav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    /* border: 2px solid green */
}
.nav a:hover{
    transform: scale(1.15);
}
.order{
    margin-left: 150px;
}

/* ============ burger menu ============== */
.burger_icon img{
    width: 50px;
    height: 50px;
}
.burger_icon img:hover{
    transform: scale(1.2);
}
.burger_menu_container {
    display: none; 
    cursor: pointer;
  }
/* ==================== */
.navbar{
    opacity:0;
    transition:  opacity 0.4s;
    width: 100px;
}
.navbar.show{
    opacity:1;
}

@media (max-width: 860px) {
    .order {
        margin-left: 0; 
    }
}
@media (max-width: 716px) {
    .nav {
      display: none;
    }  
    .burger_menu_container{
        align-items: center;
        display: flex;
        width: 50%;
        margin-top: 3%;
        font-size: 16px;
        font-weight: 500;
        justify-content: space-between;
        align-items: flex-start;
    }
  
  .burger_menu a{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 14px;
    padding: 4%;
    
  }
  .wrapper{
    justify-content: normal;
    gap: 15%;
    margin-bottom: 10%;
  }

}
@media (max-width: 470px){
    .wrapper{
        flex-direction: column;
        
    }
    .burger_menu{
        margin-left: 5%;
        flex-direction: column;
    }
    .burger_menu_container{
        width: 95%;
        
    }
}
@media (max-width: 360px){
    .logo{
        flex-direction: column;
        
    }
}