.wrapper{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    max-width: 97%;
   margin-bottom: 5%;
}

.item{
    margin-top: 3%;
}
.image{
    width: 318px;
    height: 340px;
    transition: transform 1s ease;
}
.image img{
    width: 100%;
    height: 350px;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(4, 81, 4, 0.6);
}
.image:hover{
    transform: scale(1.1);
}

.fourCategories{
    display: flex;
    gap: 34px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.titleP{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin-left: 40%;
}

.link{
    margin-top: 20px;
}
.link a{
    text-decoration: none;

}

@media (max-width: 420px){
    .image{
        width: 118px;
        height: 120px;
    }
}