.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
/* ================ */
.logoMenu{
    width: 70px;
    display: flex;
    padding: 20px;
    gap: 50px;
    align-items: center;
    /* border: 2px solid blue; */
    margin-left: 3%;
    
}
.logo:hover{
    transform: scale(0.9);
}
.btn{
    background-color: green;
    width: 125px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: transform 0.5s ease;
}
.btn:hover {
    /* background-color: darkgreen;  */
    cursor: pointer;
    transform: scale(0.9);
}

.btn a{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 14px 30px 15px;
    cursor: pointer;
}


/* ============ navigate menu base ============== */

.nav{
    display: flex;
    gap: 40px;
    padding: 30px;
    align-items: flex-end;
    margin-top: 3%;
    transition: transform 1s ease;
}

.nav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
}
.nav a:hover{
    transform: scale(1.1);
}
.order:hover{
    transform: scale(1.1);
}
.order{
    margin-left: 150px;
    margin-top: 5%;
    padding: 5px;
    transition: transform 0.5s ease;
}
.order img{
    margin-left: 30%;
}

.order a{
    color: black;
    text-decoration: none;
}

.menu{
    display: flex;
}

/* ============ burger menu ============== */
.burger_icon img{
    width: 50px;
    height: 50px;
}
.burger_icon img:hover{
    transform: scale(1.2);
}
.burger_menu_container {
    display: none; 
    cursor: pointer;
  }
/* ==================== */
.navbar{
    opacity:0;
    transition:  opacity 0.4s;
    width: 100px;
}
.navbar.show{
    opacity:1;
}

@media (max-width: 970px) {
    .order {
        margin-left: 0; 
    }
}
@media (max-width: 812px) {
    .wrapper{
        flex-direction: column;
    }
    .menu{
        justify-content: center;
    }
  
}
@media (max-width: 540px){
    .menu{
        display: none;
    }
    .burger_menu_container{
        display: block;
        display: flex;
        align-items: center;
    }
    .wrapper{
        flex-direction:row;
        justify-content: space-between;
        /* align-items: baseline; */
    }
    .burger_menu a{
        text-decoration: none;
        color: black;
        display: flex;
        font-size: 14px;
        padding: 4%;
        
    }
    .burger_menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 25%;
     }

}
@media (max-width: 495px){
    .wrapper{
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .logo{
        flex-direction: column;
        
    }
    .logoMenu{
        justify-content: center;
        margin-top: 5%;
    }
    .burger_menu{
        margin-top: 0;
    }
    .burger_menu_container{
        gap: 40px;
    }
}

@media (max-width: 280px){
    .logoMenu{
        flex-direction: column;
        gap: 20px;
    }
    .burger_menu_container{
        flex-direction: column;
        gap: 0;
    }
}