
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}
/* ===== Nav ============== */

.active{
  color: rgb(2, 163, 2) !important;
  font-weight: 900 !important;
  font-size: 18px !important;
}
@media (max-width: 540px){
  .active{
    font-size: 14px !important;
    font-weight: 600 !important;

  }
  
}

.cart{
  display: flex;
}
.cart_p{
  font-size: 14px;
}

